dotnetcorewebapplication/.vs/
dotnetcorewebapplication/dotnetcorewebapplication/bin/
dotnetcorewebapplication/dotnetcorewebapplication/obj/
dotnetcorewebapplication/dotnetcorewebapplicationtest/bin/
dotnetcorewebapplication/dotnetcorewebapplicationtest/obj/
